.wrapper {
  background-position: center;
  background-size: cover;
  background-color: #11284b;
  background-image: linear-gradient(
      250deg,
      rgba(130, 201, 30, 0) 0%,
      #062343 70%
    ),
    url(https://rekrabice.cz/images/hero_bg.jpg);
}
