@tailwind base;
@tailwind components;
@tailwind utilities;

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
  */

@media print {
  .mantine-AppShell-navbar,
  .mantine-AppShell-header {
    display: none !important;
  }
  .mantine-AppShell-main {
    width: 100% !important;
    padding-left: 0 !important;
    align-items: flex-start !important;
    justify-content: flex-start !important;
    padding-top: 0 !important;
  }
}
